.Add-restaurent-container{
    background-color: rgba(255, 99, 71, 0.078);
    width: 100%;
    height: 170vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: #fff;
    text-align: center;
    padding-right: 50px;
    background-color: tomato;
    margin: 10px 30%;
}

.form-start{
    margin: 5% 20%;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 20%;
}

.document{
    background-color: #fff;
}

.form-input input{
    margin: 10px 0px;
    padding: 10px;
    border: none;
    border: 1px solid black;
}

.Email-otp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}   

.Email-otp button{
    width: 100%;
   padding: 6px;
   background-color:tomato;
   color: #fff;
   font-size: 20px;
   border:none;
   cursor: pointer;
}


.location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location p{
    border: 2px solid tomato;
    text-align: center;
    padding: 10px;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.location span{
    color: black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.098);
}

.submitButton{
    margin: 100px;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: tomato;
    border: 1px solid tomato;
    color: #fff;
    font-size: 20px;
}